// Colours

$bodhi-green: #c8e6c9;
$black: #000;
$white: #fff;
$grey-light: #f7f7f7;

// Font

$title-font: "Lato", sans-serif;
$light-font: 300;
$normal-font: 400;

// Margins etc.

$gutter-horizontal: 5rem;
